{
  "mcpServers": {
    "browser-tools": {
      "type": "stdio",
      "command": "npx",
      "args": ["@agentdeskai/browser-tools-mcp@1.2.0"],
      "env": {}
    },
    "context7": {
      "url": "https://mcp.context7.com/mcp",
      "headers": {
        "CONTEXT7_API_KEY": "{{ .context7_api_key }}"
      }
    },
    "playwright": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "@playwright/mcp@latest"
      ],
      "env": {}
    }
  }
}
