{{- $data := includeTemplate "dot_config/mcp/servers.yaml.tmpl" . | fromYaml -}}
{{- $out := dict -}}
{{- range $s := $data.servers -}}
  {{- $entry := dict -}}
  {{- if eq $s.transport "stdio" -}}
    {{- $_ := set $entry "type" "stdio" -}}
    {{- $_ := set $entry "command" $s.command -}}
    {{- $_ := set $entry "args" $s.args -}}
    {{- $_ := set $entry "env" (default dict $s.env) -}}
  {{- else if eq $s.transport "http" -}}
    {{- $_ := set $entry "type" "http" -}}
    {{- $_ := set $entry "url" $s.url -}}
    {{- $_ := set $entry "headers" $s.headers -}}
  {{- end -}}
  {{- $_ := set $out $s.name $entry -}}
{{- end -}}
{{ $out | toPrettyJson }}
